<div class="container">
  <div class="row">
    <div class="cols-xs-5">Semmeldiagramm</div>
  </div>
  <hr>
  <div class="row">
    <input type="number" name="" id="" value="0.0" #inputNumber>
    <input type="text" name="" id="" value="Name" #inputText>

    

      <select #inputKategorie>
        <option *ngFor="let kat of categorieArray" [value] = "kat">
          {{ kat }}
        </option>
    </select>

    <input type="button" value="Ausgaben" (click)="onAddAusgaben(inputText, inputNumber, inputKategorie)">
    <input type="button" value="Einnahmen" (click) ="onAddEinnahmen(inputText, inputNumber, inputKategorie)">
  </div>
</div>